[submodule "React-Native-FullStackOpen-2021"]
	path = React-Native-FullStackOpen-2021
	url = https://github.com/coolbigbear/React-Native-FullStackOpen-2021
[submodule "TypeScript-FullStackOpen-2021"]
	path = TypeScript-FullStackOpen-2021
	url = https://github.com/coolbigbear/TypeScript-FullStackOpen-2021.git
